<ol class="main_list">
    <% @site_data.each do |row| %>
    <li>
      <ul>
        <li class="news_title"><a href="http://<%=row[:url]%>"><%=row[:title] %></a></li>
        <li class="comment_line"><%=row[:description]     %></li>
      </ul>
    </li>
    <%end%>
</ol>





