<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="css\styles.css">
    <link rel="stylesheet" href="css\normalize.css">
  </head>
  <body>
  <div id="wrapper">
  <nav>
    <ul>
      <img id="logo" src="https://news.ycombinator.com/y18.gif" alt="hacker logo">
      <li>Slacker News</li>
      <li><a href="/">new</a></li>
      <li><a href="http://www.glassdoor.com">jobs</a></li>
      <li><a href="/submit">submit</a></li>

    </ul>
  </nav>
  <body>
    <%= yield%>
  </body>
  <footer>
    <ul id="footer_navigation">
      <li><a href="/">Guidelines</a></li>
      <li><a href="/">FAQ</a></li>
      <li><a href="/">Lists</a></li>
      <li><a href="/">Bookmarklet</a></li>
      <li><a href="/">DMCA</a></li>
      <li><a href="/">News News</a></li>
      <li><a href="/">Bugs and Feature Requests</a></li>
      <li><a href="/">Y Combinator</a></li>
      <li><a href="/">Apply</a></li>
      <li><a href="/">Library</a></li>
      <li><a href="/">Contact</a></li>
    </ul>

    <form id="searchbox" action="">
     <input id="search" type="text" placeholder="Search . . .">
    </form>
  </footer>



  </div>
  </body>
</html>
