<h2>Submit an Article to Slacker News:</h2>
<form action="/submit" method="post">
Title:<input type="text" name="title" size="32%" placeholder="Enter Title here"></p>
URL: <input type="text" name="url" size="30%" placeholder="www.example.com"></p>
<p>Description:</p>
<textarea name="description" rows="10" cols="50" placeholder='A short one please... do not fill this box. '></textarea>
<p><input type = "submit"></p>
</form>
<p><b>note:  please remember to feed your local jr. web developer. he is hungry... </b> </p>
