nav {
  background-color: #7D93B5;
  color: black; }

#wrapper > nav > ul > img {
  border: solid 1px white;
  margin-left: 10px;
  margin-top: 2px;
  padding-top: 2px; }

nav ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  color: black;
  padding-left: 3px; }

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em; }

#wrapper {
  background-color: #F5F5F5;
  max-width: 960px;
  width: 80%;
  margin: 0 auto; }

nav ul li:first-child {
  font-weight: bold;
  font-size: 1.25em; }

nav ul li a:hover {
  color: white; }

nav ul li {
  border-right: solid 1px black;
  padding-right: 10px;
  text-align: center; }

.news_title a {
  text-decoration: none;
  color: black; }

.news_title {
  text-decoration: none;
  list-style-type: none; }

.news_title::before {
  content: url("https://news.ycombinator.com/grayarrow.gif");
  padding-right: 10px; }

.main_list li li {
  text-decoration: none;
  list-style-type: none; }

.main_list li li p {
  font-size: .8em;
  padding-left: 20px;
  margin-top: 5px; }

#wrapper > section > ol > li:nth-child(1) > ul {
  padding-left: 100; }

#wrapper > nav > ul {
  padding: 1px; }

#wrapper > nav > ul {
  padding-bottom: 5px;
  padding-top: 5px; }

#wrapper > nav > ul > li:nth-child(2) {
  font-weight: bold;
  font-size: 1.1em; }

#wrapper > footer li {
  display: inline-block;
  text-decoration: none; }

#wrapper > section > ol > li ul li {
  margin-left: -45px; }

footer {
  border-top: solid 5px #7D93B5; }

footer li a {
  color: black;
  text-decoration: none;
  font-size: .9em; }

footer {
  text-align: center; }

form {
  display: inline-block;
  border-radius: 10px; }

.comment_line a, .comment_line {
  text-decoration: none;
  color: #b7b7b7; }

#footer_navigation li, #footer_navigation:last-child {
  border-right: solid 2px black;
  padding-right: 10px; }

footer {
  margin-bottom: 50px;
  padding-bottom: 40px; }

#footer_navigation li:last-child {
  border-right: 0; }

